.password {
    position: relative;
}

.password input {
    width: 100%;
    padding: 1.5rem; 
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: #F0EFFF;
    font-size: 0.9375rem; 
}

input::placeholder {
    color: #A7A3FF;
    font-weight: 400;
    font-size: 0.9375rem; 
}

.eyeicon {
    position: absolute;
    right: 1.5rem; 
    top: 1.875rem; 
    color: #A7A3FF;
}
